.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table_actions_wrap {
  display: flex;
  flex-direction: column;
}
.active_check {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f3f3f3;
  border-radius: 24px;
  padding: 8px;
  width: 60%;
}
.active_check span {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.ant-btn {
  background: #0095da !important;
}
.table_actions_wrap button span {
  display: flex;
  justify-content: space-between;
}
.table_actions_wrap button {
  background: transparent !important;
  border: none !important;
  cursor: pointer;
  background-color: grey;
}
.table_actions_wrap button:hover {
  background-color: grey;
}
.project-modal {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.ant-form-item-control-input-content {
  flex: unset !important;
  display: flex;
  width: 100%;
}
.button_wrapp {
  display: flex;
  justify-content: flex-start;
}
